*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
.screen{
  display: none;
  height: 100%;
}
.screen.active{
  display: block;
}
.app{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  max-width: 500px;
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.join-screen .form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
}
.join-screen .form .form-input{
  margin: 10px 0;
}
.join-screen .form h1{
  font-size: 40px;
  line-height: 45px;
  color: #222;
  margin-bottom: 20px;
}
.join-screen .form button{
  background: #111;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.join-screen .form #join-id b{
  color: #222;
  display: block;
  margin-top: 20px;
}
.join-screen .form #join-id span{
  display: inline-block;
  /* border: 1px solid yellow; */
  font-size: 25px;
  font-family: monospace;
  color: #222;
  padding: 10px;
  border: 1px solid #111;
  margin-top: 5px;
}
.join-screen .form label{
  color: #222;
}
.join-screen .form input{
  display: block;
  margin: 10px 0;
  width: 100%;
  max-width: 200px;
  border: 1px solid #111;
  color: #111;
  font-size: 20px;
  padding: 10px;
}
.fs-screen{
  /* border: 1px solid red; */
  padding: 20px;

}
.fs-screen .file-input{
  /* border: 1px solid blue; */
  width: 100%;
  border: 2px dashed #555;
}
.fs-screen .file-input label{
  display: block;
  width: 100%;
  padding: 40px 50px;
  text-align: center;
  color: #111;
  font-size: 18px;
}
.fs-screen .file-input input{
  display: none;
}
.fs-screen .files-list{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  overflow: auto;
  height: 80vh;
}
.fs-screen .files-list::-webkit-scrollbar {
  width: 0px;  /* 스크롤바의 너비 */
}

.fs-screen .files-list::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: rgba(0, 0, 0, 0.03); /* 스크롤바의 색상 */
  border-radius: 20px;
}

.fs-screen .files-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .5);  /*스크롤바 뒷 배경 색상*/
}
.fs-screen .files-list .title{
  width: 100%;
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}
.fs-screen .files-list .item{
  width: 33.33%;
  min-width: 200px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}
.fs-screen .files-list .item .progress{
  padding: 30px;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: #222;
}
.fs-screen .files-list .item .progress-bar{
  margin: 0px 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}
.fs-screen .files-list .item .progress-bar .bar{
  width: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 10px;
  border-radius: 5px;
}
.fs-screen .files-list .item .filename{
  font-size: 16px;
  padding: 5px;
  border-top: 1px solid #eee;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(secure-file-sharing-hero.jpg) no-repeat center;
  background-size: cover;
}
.home-container h1{
  font-size: 4rem;
  text-shadow: 0px 7px 5px rgba(0, 0, 0, .5);
  color: #ddd;
  margin-bottom: 50px;
}
.select-btns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-btns a{
  text-decoration: none;
  margin: 50px;
  padding: 50px;
  font-size: 50px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
  /* filter: blur(1px); */

  background: rgba(255, 255, 255, .3);
}
.select-btns a:hover{
  background: rgba(255, 255, 255, .5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
}